In [1]:
import os
os.chdir("C:/datasets/")

In [2]:
import pandas as pd

In [6]:
df1=pd.read_csv("cars.csv")
df1

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [ ]:
# Regression SVM, KNN

In [7]:
df=df1[['Price','Weight','Horsepower','EngineSize','Rev.per.mile','Wheelbase','Man.trans.avail']]
df

,Price,Weight,Horsepower,EngineSize,Rev.per.mile,Wheelbase,Man.trans.avail
0,15.9,2705,140,1.8,2890,102,Yes
1,33.9,3560,200,3.2,2335,115,Yes
2,29.1,3375,172,2.8,2280,102,Yes
3,37.7,3405,172,2.8,2535,106,Yes
4,30.0,3640,208,3.5,2545,109,Yes
...,...,...,...,...,...,...,...
88,19.7,3960,109,2.5,2915,115,Yes
89,20.0,2985,134,2.0,2685,103,Yes
90,23.3,2810,178,2.8,2385,97,Yes
91,22.7,2985,114,2.3,2215,104,Yes
92,26.7,3245,168,2.4,2310,105,Yes

In [8]:
df.isna().sum()

Price              0
Weight             0
Horsepower         0
EngineSize         0
Rev.per.mile       0
Wheelbase          0
Man.trans.avail    0
dtype: int64

# Regression
# Define Features. Target

In [10]:
x=df.drop(['Weight','Man.trans.avail'],axis=1)
x

    Price  Horsepower  EngineSize  Rev.per.mile  Wheelbase
0    15.9         140         1.8          2890        102
1    33.9         200         3.2          2335        115
2    29.1         172         2.8          2280        102
3    37.7         172         2.8          2535        106
4    30.0         208         3.5          2545        109
..    ...         ...         ...           ...        ...
88   19.7         109         2.5          2915        115
89   20.0         134         2.0          2685        103
90   23.3         178         2.8          2385         97
91   22.7         114         2.3          2215        104
92   26.7         168         2.4          2310        105

[93 rows x 5 columns]

In [11]:
# target
y=df['Weight']

In [12]:
y

0     2705
1     3560
2     3375
3     3405
4     3640
      ...
88    3960
89    2985
90    2810
91    2985
92    3245
Name: Weight, Length: 93, dtype: int64

# Preprocessing

In [14]:
from sklearn.preprocessing import StandardScaler

In [16]:
ss=StandardScaler()

In [21]:
# transform feature variable
x1=pd.DataFrame(ss.fit_transform(x),columns=ss.get_feature_names_out())

In [22]:
x1

       Price  Horsepower  EngineSize  Rev.per.mile  Wheelbase
0  -0.375720   -0.073484   -0.841022      1.129530  -0.286932
1   1.497844    1.078322    0.515869      0.005661   1.629649
2   0.998227    0.540813    0.128186     -0.105713  -0.286932
3   1.893374    0.540813    0.128186      0.410659   0.302785
4   1.091905    1.231897    0.806631      0.430909   0.745073
..       ...         ...         ...           ...        ...
88  0.019810   -0.668585   -0.162577      1.180155   1.629649
89  0.051036   -0.188665   -0.647181      0.714407  -0.139503
90  0.394523    0.655993    0.128186      0.106911  -1.024079
91  0.332071   -0.572601   -0.356418     -0.237337   0.007926
92  0.748418    0.464025   -0.259498     -0.044963   0.155356

[93 rows x 5 columns]

In [23]:
# Splitting

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x1,y,train_size=0.8,random_state=16)

In [27]:
x_train

       Price  Horsepower  EngineSize  Rev.per.mile  Wheelbase
38 -1.156372   -1.705211   -1.616388      2.881145  -1.613797
79 -1.156372   -1.359669   -1.422547      1.099155  -2.056085
57  1.289670   -0.265452   -0.356418      0.187910   0.155356
60 -0.479807   -0.073484    1.097393     -1.219457   1.334791
9   1.581114    1.078322    2.163521     -1.664954   1.482220
..       ...         ...         ...           ...        ...
31 -0.979424   -0.323043   -0.841022      0.157535  -0.876650
68 -0.334085   -0.649388   -0.453339      0.471409   0.155356
65 -0.042642    0.137680    0.322027     -0.541086   1.187361
69 -0.001007    0.502419    1.097393     -1.300456   0.892502
41 -0.771250   -0.802962   -1.131784      0.643533  -0.139503

[74 rows x 5 columns]

In [28]:
x_test

       Price  Horsepower  EngineSize  Rev.per.mile  Wheelbase
81 -0.001007   -0.265452   -0.453339     -0.004464  -0.286932
29 -0.021825    1.347077    0.806631     -0.713210   1.334791
48  0.883731    0.790371    0.322027     -0.014589  -0.139503
50  1.539479    0.310451    1.097393     -1.006833   0.745073
26 -0.406946   -0.841356   -0.162577      0.268910   0.155356
25 -0.053051   -0.035091    0.322027     -0.733460   1.187361
53 -0.823294   -0.783765   -0.841022     -0.227212  -0.876650
89  0.051036   -0.188665   -0.647181      0.714407  -0.139503
5  -0.396538   -0.649388   -0.453339      0.471409   0.155356
7   0.436158    0.694387    2.938887     -2.049702   1.777079
13 -0.458990    0.310451    0.709710     -1.067583  -0.434362
67 -0.625529    0.214467   -0.356418      0.096786  -0.139503
77  0.956592   -0.073484   -0.550260      1.170030  -0.729220
35  0.040627    0.022499    0.322027     -0.510711   2.219367
33 -0.375720   -0.745372   -0.356418     -0.095588  -0.434362
49  1.633157    1.558242    0.322027      0.360034   0.302785
76  0.509019    0.502419    1.097393     -1.553580   1.039932
11 -0.635937   -0.649388   -0.453339      0.096786  -0.434362
10  2.143183    2.902017    1.872759     -0.703085   1.039932

In [29]:
y_train

38    1695
79    2045
57    2920
60    3610
9     3620
      ...
31    2530
68    2890
65    4100
69    3715
41    2350
Name: Weight, Length: 74, dtype: int64

In [30]:
y_test

81    3085
29    3490
48    3510
50    3695
26    3080
25    3705
53    2440
89    2985
5     2880
7     4105
13    3240
67    2910
77    2775
35    3735
33    2850
49    3515
76    3495
11    2490
10    3935
Name: Weight, dtype: int64

In [ ]:
# Model

In [31]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

# create objects

In [32]:
kn=KNeighborsRegressor()
svr=SVR()

# Fitting Model

In [33]:
kn.fit(x_train,y_train)

KNeighborsRegressor()

# Evaluation

In [34]:
# Training Data Evaluation

y_pred_train=kn.predict(x_train)

In [35]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [36]:
mse=mean_squared_error(y_pred_train,y_train)
mae=mean_absolute_error(y_pred_train,y_train)
rmse=mse**0.5
r2_score_train=r2_score(y_pred_train,y_train)
print("Mean Squared Error",mse)
print("Mean Absolute Error",mae)
print("Root Mean Squared Error",rmse)
print("R2_score",r2_score_train)

Mean Squared Error 30863.45945945946
Mean Absolute Error 131.64864864864865
Root Mean Squared Error 175.67999163097505
R2_score 0.8958651104744432

In [37]:
# Testing data

In [40]:
y_pred_test=kn.predict(x_test)

In [41]:
mse=mean_squared_error(y_pred_test,y_test)
mae=mean_absolute_error(y_pred_test,y_test)
rmse=mse**0.5
r2_score_test=r2_score(y_pred_test,y_test)
print("Mean Squared Error",mse)
print("Mean Absolute Error",mae)
print("Root Mean Squared Error",rmse)
print("R2_score",r2_score_test)

Mean Squared Error 17120.36842105263
Mean Absolute Error 104.15789473684211
Root Mean Squared Error 130.84482573282227
R2_score 0.8976590952422286